<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form action="/create" method="post">
        <input type="text" placeholder="create a username" required><br>
        <input type="password" placeholder="create a password" required><br>
        <input type="submit" value="register">
    </form>
</body>
</html>